{% block head %}
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="" />
            <title>{% block title %}  Awesome webapp by Commercetools {% endblock %}</title>
        </head>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="product">Home</a> </li>
        <li><a href="user">login</a> </li>
        <li><a href="logout">logout</a> </li>
    </ul>
{% endblock %}

{% block body %}
    <body>
        <div class="container">
        {% block container %}
        {% endblock %}
        </div>
    </body>
{% endblock %}


